@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-pink-500: #ff3a65;
  --color-violet-400: #2f0526;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar{
  display: none;
}

body {
  background: #160017;
  color: var(--foreground);
  font-family: "Lufga", sans-serif;
}
@font-face {
  font-family: "Lufga";
  src: url("/fonts/LufgaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Lufga";
  src: url("/fonts/LufgaLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Bebas";
  src: url("/fonts/Bebas-Regular.ttf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

.font-lufga{
   font-family: "Lufga", sans-serif;
}
.font-bebas {
  font-family: "Bebas", sans-serif;
}

@layer base {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
}

.custom-shadow-2{
  box-shadow: 0px 0px 8px 1px #ff3a65;
}
.custom-border {
  border: 0.9px white solid;
  border-color: linear-gradient(
    90deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 49.68%,
    #ffffff 100%
  );
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.548);
}
.clip-2{
  clip-path: inset(0 0 0 96%);
}
.gradient-1{
  box-shadow: 0px 0px 10px 8px #ff3ab373;
}
.custom-polygon{
clip-path: polygon(100% 0, 83% 0, 0 100%, 100% 100%, 100% 93%);}

.tshirt .customCursor{
  opacity: 100
}

.tshirt:hover .customCursor{
  opacity: 100
}


.firstHeading, .secondHeading {
  will-change: transform, opacity;
}

.container {
  transform: translateZ(0); /* Creates a new composite layer */
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.block {
  width: 100%;
  height: 100%;
  background: #160017;
}

.intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.25rem;
}

#word-1 {
  position: relative;
  left: -0.5rem;
  padding-right: 0.25rem;
}

.word h1 {
  font-size: 2.5rem;
}

.divider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center top;
  width: 1px;
  height: 100%;
  background-color: #fff;
}

.spinner-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 1.4px solid #fff;
  border-top-color: rgba(255, 255, 255, 0.125);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.digit {
  flex: 1;
  padding-top: 1rem;
}

.count .digit h1 {
  font-family: "Lufga", sans-serif;
  font-size: 15rem;
  font-weight: 400;
}

.line,
.cta-label,
.word,
.count .digit {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.line h1,
.line p,
.cta-label p,
.count .digit h1 {
  position: relative;
  transform: translateY(120%);
  will-change: transform;
}

#word-1 h1 {
  transform: translateY(-120%);
}

#word-2 h1 {
  transform: translateY(120%);
}

.block {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.divider {
  transform: scaleY(0%);
  will-change: transform;
}